* {
    background-color: grey;
}

h1 {
    text-align: center;
    background-color: black;
    color: white;
}

.container-fluid {

}

.row {

}

.col-md {
    
}

#button-addon2 {
    background-color: black;
    color: white;
}